
<div class="card">
        <div class= "header">
            <h4 id="read">{{bookPadre.bookRead}} </h4>
        </div>
        <div class="texto">
            <h2>{{bookPadre.title}}</h2> 
            <img id="img" src="{{bookPadre.photo}}" alt="">
            <p id="author">  {{bookPadre.author}} </p>   
            <p>{{bookPadre.type}} ☀ {{bookPadre.id_book | refBook}}</p>
            <div><app-stars [rating] = "bookPadre.rating"></app-stars></div>
        </div>
        <div class="footer">     
            <button id="delete" type=" button" (click)="removeCard()"> 🗑️ </button>
        </div>


    
</div>
         
  
