
<div class="card">
    
    <div class="cierre"> 
        <button id="equis" type=" button" (click)="removeCard()"> x </button>
    </div>
        <div class="texto">
        <h3>{{bookPadre.title}}</h3> 
        <img id="img" src="{{bookPadre.photo}}" alt="">
        <p>{{bookPadre.author}}  ☀  {{bookPadre.type}}</p>
        <p>{{bookPadre.id_book | refBook}} </p>
        <p>Id User: {{bookPadre.id_user}} </p>
        <p>{{bookPadre.price}} € </p>
        <button>Buy</button>  
    </div>

    
</div>
         
  
