.card{
    height: 460px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(207, 174, 125, 0.671);
    border-radius: 15px;
    margin:15px;
    padding: 10px;
}
.header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;

}
#read{
    height: 30px;
    width: 110px;
    font-weight: bold;
    font-size: small;
    text-align: center;
    align-content: center;
    padding: 4px;
    margin-right: -10px;
    border-left: var(--marronMedio) 1px dotted;
    border-top: var(--marronMedio) 1px dotted;
    border-bottom: var(--marronMedio) 1px dotted;
    background-color:  var(--marronClaro);    
}
.texto{
    height:420px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4px   
}

#img{
    height: 170px;
    width: 120px;
    border: dotted 4px var(--marronOscuro);
    margin: 10px;
}
h2{
    font-family: "Gloria Hallelujah", cursive;
    font-style: normal;
    font-size: large;
    text-align: center;
    color:var(--marronOscuro);
    font-weight: bold;    
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#author{
    font-weight: bold;
}

.footer{
    display: flex;
    border: blue 1 px solid;
    justify-content: end;
    align-self: end;
}
#delete{

    height: 35px;
    width: 35px;
    background-color: rgb(182, 175, 175);
    border-radius: 5px;
    border: 1px rgb(116, 115, 115) solid;
}
#delete:hover{
    background-color: var(--marronMedio);
}
