
<div class="navbar">
    <h3>M y F a n L i b</h3>
        <a *ngIf = "!this.userService.logueado" routerLink= "/home" routerLinkActive="activo">HOME</a>
        <a *ngIf = "!this.userService.logueado" routerLink= "/register" routerLinkActive="activo">REGISTER</a>
        <a *ngIf = "!this.userService.logueado" routerLink="/login" routerLinkActive="activo">LOGIN</a>

        <a *ngIf = "this.userService.logueado" routerLink="/books" routerLinkActive="activo">BOOKS</a>
        <a *ngIf = "this.userService.logueado" routerLink="/addBook" routerLinkActive="activo"> ADD BOOK</a>
        <a *ngIf = "this.userService.logueado" routerLink= "/updateBook" routerLinkActive="activo">UPDATE BOOK</a>
        <a *ngIf = "this.userService.logueado" routerLink= "/profile" routerLinkActive="activo">PROFILE</a>    
       
</div>

