
<div class="container">

    <div class="cards">
        <div *ngFor = "let book of books">  
            <app-card [bookPadre] = "book" (remove) = "removeBook($event)"></app-card>
        </div>

    </div>    
        

    <div class="formulario">ADD YOUR BOOK
            <form action="" >
                <input type="text" #input1
                placeholder="Title">
                <input type="text" #input2
                placeholder="Soft cover/Hard cover">
                <input type="text" #input3
                placeholder="Author">
                <input type="text" #input4
                placeholder="Price">
                <input type="text" #input5
                placeholder="Photo url">
                <input type="text" #input6
                placeholder="Id Book">
                <input type="text" #input7
                placeholder="Id User (number)">
            </form>
            <div class="boton">
                <button class="guardar" type=button (click)="enviar(input1.value, input2.value, 
                input3.value, input4.value, 
                input5.value, input6.value, input7.value)">Save</button>
            </div>
    </div> 
</div>
