
.main{
    height: 527px;
    background-image: url("src\assets\img\img2.jpg");
    background-size: cover;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}