.contenedor{
    height: 50hvh;
    width: 100%;
    background-image: url("src\assets\img\img3.jpg");
    background-size: cover;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;  
    overflow: auto;
}
h2{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    color: whitesmoke;
    margin: 40px; 
    padding: 15px;
    border-radius: 4px;
    border: dotted white 2px;
    background-color: rgba(136, 154, 194, 0.63); 
}

.formulario{
    height: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
input{
    height: 40px;
    width: 220px;
    padding: 8px;
    margin: 8px;
    border-radius:5px;
    background-color: rgb(206, 212, 230);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}  
.label{
    height: 40px;
    width: 220px;
    padding: 8px;
    margin: 8px;
    border-radius:5px;
    color: rgb(71, 64, 64);
    background-color: rgba(206, 212, 230, 0.452);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.guardar{
    width: 120px;
    height: 50px;
    padding: 5px;
    margin: 15px;
    background-color: var(--azulClaro);
    border:none;
    border-radius: 10px;
    font-family: fantasy;
    font-size: large;
    color: var(--azulOscuro);
} 
.guardar:hover{
    background-color: var(--azulMedio); 
    color: var(--azulOscuro);
}
